*,
*:after,
*:before {
    box-sizing: border-box;
}


body {
    background-color: #e2e2e2;
}

.container {
    max-width: 1230px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: #0d6069;
}

.button__style--reset {
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
/* Burger */

.nav__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    width: 30px;
    height: 20px;
    top: 10px;
    left: 10px;

    background: none;
    color: transparent;

    cursor: pointer;
    border: 0;
    padding: 0;
}

.nav-toggle__item {
    display: flex;
    background-color: white;
    width: 100%;
    height: 3px;
    transition: transform .2s linear;
    font-size: 0;
}

.nav__toggle.active .nav-toggle__item:first-child {
    transform: translateY(9px) rotate(45deg)

}
.nav__toggle.active .nav-toggle__item:nth-child(2) {
    display: none;
}
.nav__toggle.active .nav-toggle__item:last-child {
    transform: translateY(-8px) rotate(-45deg)
}


/* Navigation */
.header {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.list__item {
    font-size: 40px;
    color: white;
    padding: 20px;
    margin: 10px;

    border: 2px white solid;
    border-radius: 30px;

    cursor: pointer;
    user-select: none;
}

.list__item:hover {
    background-color: wheat;
    color: #210b4b;
}

/* Modal */

.modal__screen {
    display: none;
    width: 400px;
    height: auto;
    justify-content: center;
    position: relative;
    z-index: 2;

    box-shadow: 0 5px 30px black;

    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
}

.modal__screen.active {
    display: flex;
}

.modal__screen:before {
    content: "";
    position: absolute;
    background-color: #000000;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 10px;
}

.modal__group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modal__group input {
    border: none;
    width: 100%;
    padding-left: 5px;
    /* padding-top: 20px; */
    /* margin-bottom: 10px; */

    background-color: rgb(0 0 0 / 0%);
    /* border: 1px solid white; */
    color: white;

    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

input:focus {
    outline: none;
    outline-offset: 0;
    font-weight: bold;
    border: none;
}

.modal__container {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.modal__container:first-child {
    margin-top: 50px;
}

.modal__item {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 8px;
    border: 1px solid white;
    z-index: 1;
}

.reset__button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    display: flex;
    right: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 0;
}

.reset__button:before {
    content: "";
    width: 5px;
    height: 20px;
    background-color: #5f5a5a;
    position: absolute;
    right: 13px;
    z-index: 1;
    transform: rotate(-45deg);
}

.reset__button:after {
    content: "";
    width: 5px;
    height: 20px;
    background-color: #5f5a5a;
    position: absolute;
    right: 13px;
    z-index: 1;
    transform: rotate(45deg);
}

.reset__button:hover:before,
.reset__button:hover:after {
    background-color: #797373;
}

.placeholded__container {
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 100%;
    height: 100%;
}

.modal__placeholder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
    transition: transform 0.3s ease, color 0.1s ease, font-size 0.15s ease;
    color: #7b7a78;
    pointer-events: none;
}

.placeholder__counter {
    padding: 8px;
}

.span {
    color: inherit;
    font-size: inherit;
    user-select: none;
}

.modal__toggle {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;

    width: 30px;
    height: 30px;

    background: none;
    color: transparent;

    cursor: pointer;
    border: 0;
    padding: 0;
}

.modal-toggle__item {
    display: flex;
    background-color: white;
    width: 100%;
    height: 3px;
    position: absolute;
}

.modal-toggle__item:first-child {
    transform: rotate(-45deg);
}

.modal-toggle__item:last-child {
    transform: rotate(45deg);
}

.invalid {
    box-shadow: red 0 0 5px 1px;
    border: 1px red solid;
}

.register__container {
    display: flex;
    width: inherit;
    user-select: none;
    justify-content: space-around;
}

.register__button {
    width: 6.5rem;
    height: 30px;
    background-color: #55D6BE;
    border-radius: 8px;
    transition: background-color .2s linear;
}

.register__button:nth-of-type(1) {
    background-color: #ffffff;
}

.register__button:nth-of-type(1):hover {
    background-color: #b3b3b3;
}

.register__button:nth-of-type(2):hover {
    background-color: #ACFCD9;
}

.separator {
    background-color: #d6d6d6;
    width: 100%;
}

.signup {
    font-size: 17px;
    color: #fff;
    margin-bottom: 20px;
}

.signup label {
    color: #55D6BE;
    cursor: pointer;
    transition: color .2s linear;
}

.signup label:hover {
    color: #ACFCD9;
    text-decoration: underline;
}

/* flip button */
.flip__login {
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 0;
    width: 20px;
    height: 25px;
    margin-right: 10px;
    transition: transform .2s linear;
}

.flip__login:hover {
    transform: rotateX(180deg);
}

.flip__item {
    display: flex;
    width: 3px;
    height: 25px;
    background-color: wheat;
    position: relative;
    left: 0;
    border-radius: 8px;
}

.flip__item:last-child {
    right: 0;
    left: auto;
}

.flip__item:last-child:before {
    bottom: 0;
    transform-origin: bottom;
    transform: rotate(38deg) translateY(1px) translateX(0px);
}

.flip__item:last-child:after {
    bottom: 0;
    transform-origin: bottom;
    transform: rotate(-38deg) translateY(1px) translateX(0px);
}

.flip__item:before {
    content: "";
    width: 3px;
    height: 10px;
    background-color: wheat;
    position: absolute;
    transform: rotate(38deg) translateY(-1px) translateX(0px);
    transform-origin: top;
    border-radius: 8px;
}

.flip__item:after {
    content: "";
    width: 3px;
    height: 10px;
    background-color: wheat;
    position: absolute;
    right: 0;
    transform: rotate(-38deg) translateY(-1px) translateX(0px);
    transform-origin: top;
    border-radius: 8px;
}

#error {
    color: red;
    padding: 2px;
}

.notification {
    height: 10px;
    color: wheat;
    padding: 2px;

    left: 0;
    bottom: 0;
}

.error {
    height: 10px;
    left: 0;
    bottom: 0;
}

.hide {
    display: none;
}